body {
    background-color: #fff;
    color: black;
}

ul#root {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.field {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.main {
    min-width: 530px;
    max-width: 550px;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 2px #747474;
    padding: 10px;
}

.paper-stile {
    box-shadow:
        /* Тень верхнего слоя */
        1px 0 1px rgba(0, 0, 0, 0.15),
        -1px 0 1px rgba(0, 0, 0, 0.15),
        0 1px 1px rgba(0, 0, 0, 0.15),
        /* Второй слой */
        0 10px 0 -5px #eee,
        /* Тень второго слоя */
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        /* Третий слой */
        0 20px 0 -10px #eee,
        /* Тень третьего слоя */
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    /* Отступ для демо */
    padding: 30px;
}

.item {
    width: auto;
    list-style-type: none;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;

    display: flex;
    justify-content: flex-start;

    background-color: white;
    border: 1px solid #fafafa;
    box-shadow: 0px 1px 2px #afafaf;

    border: 0px none white;
    border-radius: 5px;
}

.to-end {
    float: right;
}

.space-between {
    justify-content: space-between;
}

.inline-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: 0px 0px;
    padding: 0px;

    margin-left: 0px;
    margin-right: 0px;
    width: 550px;
}

.input {
    width: 300px;
    border: 0px none white;
    border-radius: 5px;
    padding: 10px;
    border-bottom: 1px solid gray;
}


.blue {
    background-color: lightskyblue;
}

.crossed {
    text-decoration: line-through;
    color: gray;
}

.btn-submit {
    padding: 10px;
    border: none;

    border-radius: 5px;
    font: inherit;
    color: inherit;

    float: right;
    background-color: transparent;
    background-color: lightgreen;
}

.btn-submit:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: green;
}

.btn-submit:focus:not {
    background-color: lightgreen;
}

.btn-del {
    margin-left: auto;
    background-color: rgb(255, 176, 162);
    border: 0px none tomato;
    border-radius: 5px;
}

.btn-del:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn-del:hover,
.btn-delt:focus {
    background-color: rgb(255, 176, 162);
}

.btn-del:focus-visible {
    background-color: rgb(255, 176, 162);
}

.btn-disabled {
    margin: 0px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(194, 194, 194);
    border: 0px none rgb(95, 95, 95);
    border-radius: 5px;
}